/* 고정 폰트 */


@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('../font/LeferiPointBlack.otf') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SB 어그로 L';
  src: url('../font/SB\ 어그로\ L.ttf');
}

@font-face {
  font-family: 'SB 어그로 M';
  src: url('../font/SB\ 어그로\ M.ttf');
}

.fonnt{
    font-family: 'LeferiPoint-BlackA';
}
